@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

html{
    font-size: 62.5%;
    scroll-padding-top: 5.5rem;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Header */
header{
    background-color: rgb(218, 210, 210);
}

.store-left{
    font-size: 13px;
}

.store-left__marker{
    margin: 8px 20px;
    color: var(--black);
}

.store-left__marker i{
    color: var(--green);
}

.store-left__link{
    position: relative;
    margin-left: 30px;
}

.store-left__link .nav-link{
    color: #282828;
}

.store-left__link .nav-link:hover{
    color: #757474;
}

.store-right nav .nav-link{
    color: #282828;
    font-size: 13px;
    background-color: rgb(218, 210, 210);
}

.store-right nav .nav-link:hover{
    color: #757474;
}

/* Head bottom */
.head-bottom{
    height: 86px;
    display: flex;
    align-items: center;
    /* margin-top: 2px; */
    margin-left: 36px;
}

.header__logo{
    width: 200px;
}

.header__logo-link{
    color: transparent;
    text-decoration: none;
}

.header__logo-img{
    width: 70px;
}

.header__search{
    position: relative;
    padding-bottom: 16px;
    width: 200px;
}

#form_search{
    margin-top: 20px;
}

#form_search .form-control{
    height: 3.5rem;
    font-size: 1.5rem;
    border: 1px solid var(--black);
}

#form_search #basic-addon2{
    color: #fff;
    background-color: var(--black);
    cursor: pointer;
    height: 3.5rem;
    font-size: 1.5rem;
    border: 1px solid var(--black);
}

#form_search #basic-addon2:hover{
    background-color: var(--green);
}

.contact{
    margin-left: 50px;
    margin-bottom: 10px;
}

.contact_top{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--black);
    border-radius: 35px;
    flex-wrap: wrap;
}

.phone_number{
    font-size: 29px;
    font-weight: bold;
    color: var(--black);
}

.time{
    font-size: 16px;
}

.icon-phone{
    position: absolute;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: white;
    background-color: var(--black);
    text-align: center;
    line-height: 45px;
    font-size: 13px;
    left: -20px;
    top: 10px;
    cursor: pointer;
}

.icon-phone:hover{
    background-color: var(--green); 
}

.header__cart{
    width: 150px;
    text-align: center;
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-icon{
    font-size: 29px;
    color: var(--black);
}

.header__cart-notice{
    position: absolute;
    top: -8px;
    right: -4px;
    padding: 1px 7px;
    line-height: 14px;
    color: #fff;
    background-color: var(--black);
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid #ccc;
    z-index: 1000;
    /* display: none; */
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 16px);
    right: -1px;
    background-color: #fff;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 31px 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    display: none;
    z-index: 1;
}

.header__cart-list::after{
    content: "";
    position: absolute;
    right: 2px;
    top: -35px;
    border-width: 20px 24px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.header__cart-list--no-cart{
    padding: 24px 0;
}

.header__cart-no-cart-img{
    width: 54%;
    display: none;
}

.header__cart-list-no-cart-msg{
    /* display: block; */
    display: none;
    font-size: 14px;
    margin-top: 14px;
    color: #333;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

/* có sản phẩm */
.header__cart-list{
    z-index: 10;
}

.header__cart-heading{
    text-align: left;
    margin: 0px 0 8px 12px;
    font-size: 14px;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    overflow-y: auto;
    cursor: pointer;
}

.header__cart-item{
    display: flex;
    align-items: center;
    z-index: 1;
}

.header__cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 10px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-info{
    width: 100%;
    margin-right: 8px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name{
    font-size: 14px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    font-weight: bold;
    color: #333;
    margin: 0;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price{
    font-size: 14px;
    font-weight: 600;
    color: var(--green);
}

.header__cart-item-multiply{
    font-size: 9px;
    color: #757575;
    margin: 0 4px;
}

.header__cart-item-qnt{
    font-size: 12px;
    color: #757575;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}

.header__cart-item-description{
    color: #757575;
    font-size: 12px;
    font-weight: 300;
}

.header__cart-item-remove{
    color: var(--black);
    font-size: 14px;
}

.header__cart-item-remove:hover{
    color: var(--green);
    cursor: pointer;
}

.header__cart-view-cart{
    float: right;
    margin-right:12px;
}

/* header search history */
.header__search-history{
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: calc(100% - 90px);
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(189, 189, 189);
    overflow: hidden;
    z-index: 10;
    display: none;
}

.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 14px;
    line-height: 38px;
    color: #333;
    display: block;
}

.form-control:focus ~.header__search-history{
    display: block;
}

/* menu */
.menu{
    background-color: var(--black);
    width: 100%;
    height: 40px;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: 5;
}

#nav{
    display: flex;
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav > li > a{
    color: #fff;
    text-decoration: none;
    line-height: 40px;
    padding: 0 24px;
    font-size: 20px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

#nav > li:hover > a{
    background-color: var(--green);
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 5;
}

#nav .subnav a{
    color: #000;
    text-decoration: none;
    padding: 29px;
}

#nav .subnav li:hover{
    background-color: #999;
}

.subnav-list{
    display: inline-block;
    list-style: none;
    font-size: 1.5rem;
}

.subnav-list > li{
    padding:  10px 0 10px 0px;
}
  

/* main */
nav{
    background-color: #e9ecef;
    height: 40px;
}

.bread{
    margin-left: 700px;
    font-size: 1.5rem;
}

.bread-left a{
    text-decoration: none;
    color: var(--black);
}

.bread-left{
    font-size: 1.5rem;
}


/* details */
.details{
    height: 65rem;
    width: 130rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    display: flex;
    margin: 2rem auto;
    overflow: hidden;
}

.image_container{
    width: 50%;
}

.big-image{
    height: 75%;
    width: 100%;
    padding: 1rem;
}

.big-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: var(--box-shadow);
}

.small-images{
    height: 70%;
    width: 100%;
    display: flex;
}

.small-images img{
    height: 14rem;
    width: 16rem;
    object-fit: cover;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    border: 0.1rem solid #fff;
}

.small-images img:hover{
    transform: scale(0.9);
}

.content h1{
    font-size: 2.5rem;
    padding: 0.8rem 0.1rem;
    font-weight: bold;
}

.content .stars{
    color: gold;
    font-size: 1.6rem;
}

.content p{
    font-size: 1.6rem;
}

.content .cart{
    display: flex;
}

.content .cart .input-number{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #333;
    padding: 0.5rem 1rem;
    background-color: #f7f7f7;
    width: 10%;
    margin-right: 3rem;
    margin-left: 3rem;
    border-radius: 0.2rem;
    border: 0.1rem solid var(--black);
}

.price{
    background-color: #fafafa;
    display: flex;
    margin-top: 3.5rem;
    padding: 1rem 3rem;
}

.price .price-sale{
    color: var(--black);
    font-weight: bold;
    font-size: 2.3rem;
}

.price .price-cost{
    font-size: 2rem;
    margin-left: 3rem;
    text-decoration: line-through;
    color: #9c9b9b;
}

.price .percent{
    position: relative;
    color: #fff;
    background-color: var(--green);
    padding: 0.5rem 1rem;
    margin-left: 3rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
}

.price .percent::before{
    content: "";
    position: absolute;
    border-right: 0.8rem solid var(--green);
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    left: -0.8rem;
    top: 1.2rem;
}

.list-icon{
    margin-top: 3.5rem;
}

.list-icon .list{   
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

.list-icon .list img{
    padding-bottom: 3.5rem;
}

.list-icon .list .text{
    align-items: center;
    margin-bottom: 2.7rem;
    margin-left: 2rem;
}

/* description */
.description{
    margin: 4rem 2.5rem 0 3rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.description > ul li a{
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--black);
}

.description > ul li a:hover{
    color: var(--green);
}

.tab-content .tab-pane{
    margin-left: 5rem;
    margin-top: 20px;
    width: 90%;
    font-size: 1.6rem;
    height: 600px;
} 

.tab-content .tab-pane ul li{
    line-height: 2;
}

.tab-content #profile{
    margin-left: 5rem;
}

.tab-content #profile > h4{
    font-weight: bold;
    font-size: 1.8rem;
}   

.evaluate{
    width: 100%;
    height: 500px;
    border: 3px solid var(--green);
}

.evaluate > p{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 28px;
}

.evaluate .star1{
    margin-left: 20px;
}

.evaluate .star1 .star_one{
    margin-left: 10px;
}

.evaluate textarea{
    margin-left: 26px;
    border: 1px solid var(--black);
    resize: none;
}

.evaluate .row{
    margin-top: 50px;
}

.evaluate .row1 p{
    font-weight: bold;
}

.evaluate .row1 input{
    margin-left: 1.4rem;
    width: 320px;
    height: 30px;
    border: 1px solid var(--black);
    
}

.evaluate > button{
    margin-top: 5rem;
    margin-left: 11rem;
}

/* similar products */
.grid__column-2-4-1{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 2rem;
    width: 100%;
    display: inline-block;
}

.similar__item{
    padding-left: 2rem;
    display: flex;
}

.similar__item:last-child{
    padding-right: 2rem;
}

a.home-product-item{
    display: block;
    text-decoration: none;
    position: relative;
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: var(--box-shadow);
}

.home-product-item:hover{
    transform: translateY(-2px);
    box-shadow: var(--box-shadow);
}

.home-product-item__img{
    height: 20rem;
    width: 24.5rem;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 1rem 1rem 0.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;

}

.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--green);
    margin-left: 10px;
}

.home-product-item__sold{
    font-size: 1.2rem;
    margin-left: 0.6rem;
    color: #333;
}

.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    color: #595959;
    margin: 0.4rem 1rem 0;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__favourite{
    position: absolute;
    top: 1rem;
    left: -0.4rem;
    color: #ef4d2d;
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.home-product-item__favourite span{
    color: #fff;
}

.home-product-item__favourite i{
    color: #fff;
    font-size: 0.9rem;
    margin: 0 0.2rem 0 0.5rem;
}

.home-product-item__favourite::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    border-top: 0.3rem solid currentColor;
    border-left: 0.3rem solid transparent;
    filter: brightness(80%);
}

.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgb(255, 216, 64, 0.94);
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    border-width: 0 2rem 0.5rem;
    border-style: solid;
    border-color: transparent rgb(255, 216, 64, 0.94) transparent rgb(255, 216, 64, 0.94);
}

.home-product-item__sale-off-percent{
    position: relative;
    top: 0.3rem;
    color: var(--green);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.3rem;
}

.home-product-item__sale-off-label{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.6rem;
}


/* footer */
.footer{
    margin-top: 5rem;
    border-top: 3px solid var(--green);
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-left: 10rem;
}

.footer .box-container .box{
    padding: 1rem 0;
    flex: 1;
    border-right: 0.1rem solid var(--green);
}

.footer .box-container .box:last-child{
    border-right: none;
}

.footer .box-container .box:nth-child(3){
    flex: 1.2;
    padding: 0 1rem;
}

.footer .box-container .box .box-link{
    display: flex;
    justify-content: space-between;
}

.footer .box-container .box span{
    font-size: 2.5rem;
    padding-left: 1rem;
    color: var(--black);
}

.footer .box-container .box .share a{
    padding: 0;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: 600;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color: #666;
    padding: 0.7rem 0;
}

.footer .box-container .box .links{
    padding: 1rem 0;
}

.footer .box-container .box .links a{
    display: block;
    padding: 0.5rem 0;
    font-size: 1.7rem;
    color: #333;
}

.footer .box-container .box .links a:hover{
    text-decoration: none;
    color: var(--green);
}

.footer .credit{
    padding: 2.5rem 1rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    text-align: center;
    font-size: 2rem;
}

.footer .credit span{
    color: var(--green);
    cursor: pointer;
}


